* {
    margin: 0;
    padding: 0;
}
.head {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 3%;
}
#blogname {
    font-family: Brush Script MT;
    font-size: 50px;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.search {
    padding: 1em;
    size: 30;
    height: 10px;
    margin-top: 35px;
    color: black;
    border: none;
}
.img10 {
    height: 80px;
    width: 80px;
    margin-top: 2rem;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 3em;
    margin-right: 3em;
    .a1 {
        text-decoration: none;
        color: black;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
@mixin image($percentage) {
    flex-basis: $percentage;
    height: 270px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px 20px;
    box-sizing: border-box;
    margin: 5vh 0;
    position: relative;
}
.img1 {
    background: url(../images/img1.jpg);
    @include image(30%);
}
.img2 {
    background: url(../images/img2.jpg);
    @include image(30%);
}
.img3 {
    background: url(../images/img3.jpg);
    @include image(30%);
}
.img4 {
    background: url(../images/img4.jpg);
    @include image(30%);
}
.img5 {
    background: url(../images/img5.jpg);
    @include image(30%);
}
.img6 {
    background: url(../images/img6.jpg);
    @include image(30%);
}
.img7 {
    background: url(../images/img7.jpg);
    @include image(30%);
}
.img8 {
    background: url(../images/img8.jpg);
    @include image(30%);
}
.img9 {
    background: url(../images/img9.jpg);
    @include image(30%);
}
.text {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    background-color: rgba(17, 16, 16, 0.4);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: ease-in-out;
}
.img1:hover .text {
    opacity: 1;
}
.img2:hover .text {
    opacity: 1;
}
.img3:hover .text {
    opacity: 1;
}
.img4:hover .text {
    opacity: 1;
}
.img5:hover .text {
    opacity: 1;
}
.img6:hover .text {
    opacity: 1;
}
.img7:hover .text {
    opacity: 1;
}
.img8:hover .text {
    opacity: 1;
}
.img9:hover .text {
    opacity: 1;
}
footer {
    background-color: black;
    padding: 10px;
    .a2 {
        text-decoration: none;
        color: white;
        font-size: 13px;
    }
    .icon {
        height: 30px;
        width: 30px;
        text-align: center;
    }
    .imgi {
        display: inline;
    }
}
.divc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 20px 10%;
}
.divc2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px 30%;
}
.divc3 {
    text-align: center;
}
@media only screen and (max-width: 800px) {
    body {
        font-size: 15px;
    }
    #blogname {
        font-size: 25px;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9 {
        @include image(45%);
    }
    .search {
        padding: 8px;
        size: 20;
        height: 10px;
        margin-top: 28px;
    }
}
@media only screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
    #blogname {
        font-size: 20px;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7,
    .img8,
    .img9 {
        @include image(90%);
    }
    .container {
        justify-content: center;
    }
    
    .search {
        padding: 8px;
        size: 20;
        height: 10px;
        margin-top: 28px;
    }
}