* {
  margin: 0;
  padding: 0;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 20px 3%;
}

#blogname {
  font-family: Brush Script MT;
  font-size: 50px;
  margin-right: auto;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.search {
  padding: 1em;
  size: 30;
  height: 10px;
  margin-top: 35px;
  color: black;
  border: none;
}

.img10 {
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin-left: 3em;
  margin-right: 3em;
}

.navbar .a1 {
  text-decoration: none;
  color: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 50px;
}

.img1 {
  background: url(../images/img1.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img2 {
  background: url(../images/img2.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img3 {
  background: url(../images/img3.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img4 {
  background: url(../images/img4.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img5 {
  background: url(../images/img5.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img6 {
  background: url(../images/img6.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img7 {
  background: url(../images/img7.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img8 {
  background: url(../images/img8.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.img9 {
  background: url(../images/img9.jpg);
  width: 350px;
  height: 270px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 50px;
}

.text {
  color: white;
  font-weight: bold;
  font-size: 45px;
  background-color: rgba(17, 16, 16, 0.4);
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  margin-top: 178px;
  margin-left: -20px;
  padding: 20px;
}

.img1:hover .text {
  opacity: 1;
}

.img2:hover .text {
  opacity: 1;
}

.img3:hover .text {
  opacity: 1;
}

.img4:hover .text {
  opacity: 1;
}

.img5:hover .text {
  opacity: 1;
}

.img6:hover .text {
  opacity: 1;
}

.img7:hover .text {
  opacity: 1;
}

.img8:hover .text {
  opacity: 1;
}

.img9:hover .text {
  opacity: 1;
}

footer {
  background-color: black;
  padding: 10px;
}

footer .a2 {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

footer .icon {
  height: 30px;
  width: 30px;
  text-align: center;
}

footer .imgi {
  display: inline;
}

.divc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 20px 10%;
}

.divc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px 30%;
}

.divc3 {
  text-align: center;
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
  body {
    font-size: 10px;
  }
  #blogname {
    font-size: 20px;
  }
  .img10 {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  .search {
    padding: 8px;
    size: 20;
    height: 10px;
    margin-top: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
  #blogname {
    font-size: 25px;
  }
  .img10 {
    height: 50px;
    width: 50px;
    margin-top: 10px;
  }
  .search {
    padding: 8px;
    size: 20;
    height: 10px;
    margin-top: 28px;
  }
}
/*# sourceMappingURL=style.css.map */